/*
DateField.scss
*/

@import '../../../styles/_colours.module.scss';
@import '../../../styles/_mixins.module.scss';
@import '../../../styles/_variables.module.scss';

form .row {
	&.date-field {
		grid-template-areas: 'label device';
		&.disabled {
			input {
				cursor: not-allowed;
			}
		}
		input {
			@include form-field-common-font-padding();
			align-self: flex-end;
			grid-area: device;
			justify-self: end;
			height: $form-common-height;
			max-width: 170px;
			width: 100%;
		}
	}
}
