/*
DateField.scss
*/

@use "../../../styles/_colours.module.scss";
@use "../../../styles/_mixins.module.scss";
@use "../../../styles/_variables.module.scss";

form .row {
	&.date-field {
		grid-template-areas: "label device";
		&.disabled {
			input {
				cursor: not-allowed;
			}
		}
		input {
			@include mixins.form-field-common-font-padding();
			align-self: flex-end;
			grid-area: device;
			justify-self: end;
			height: variables.$form-common-height;
			max-width: 170px;
			width: 100%;
		}
	}
}
