// Panel.scss

@use "../../../styles/_colours.module.scss";
@use "sass:color";

.panel {
	// background: colours.$article-base-background;
	padding: 1rem;
	width: calc(100% - 2rem);
	margin-top: 1rem;
}
