/*
Monologue.scss
*/
@use "../../styles/_colours.module.scss";
@use "../../styles/_media-queries.scss" as *;
@use "../../styles/_mixins.module.scss";
@use "../../styles/_variables.module.scss";

.monologue-container {
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	&.compact {
		padding: 8px 12px;
		form {
			display: flex;
			align-items: space-between;
			column-gap: 20px;
		}
	}
	// textarea {
	// 	width: 100vw;
	// 	min-width: 100vw;
	// }
	@include mixins.comparison();
	.comparison-result {
		border-radius: 8px;
		padding: 2px 4px;
		border-color: lightgray;
		box-shadow: 0 1px 2px lightgray;
	}
}
// @include respond-above(s) {
// 	.monologue-container {
// 		textarea {
// 			width: 60vw;
// 			min-width: 60vw;
// 		}
// 	}
// }
