// MemoryMatchGame.scss

@use "../../styles/_colours.module.scss";
// @use "../../styles/_media-queries.module.scss";
@use "../../styles/_mixins.module.scss";
@use "../../styles/_variables.module.scss";

html.debug {
	.memory-map-container {
		span {
			border: 1px solid rgba(255, 0, 0, 0.2);
		}
	}
}
// $body: #190d23;
$none: rgba(#fff, 0);
// $card: #f5e3e3;
$blue: #302e9b;
// $red: #b32b28;
// $yellow: #bdb725;
$border-radius: 10px;
$transition-time: variables.$memory-card-transition-time;

.memory-map-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 0.5rem;
	max-width: 1200px;

	.cards,
	.matches {
		padding: 1rem;
		.card {
			// background-color: white;
			// border-radius: $border-radius;
			// border: 1px solid #ccc;
			// box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
			// cursor: pointer;
			// height: 100px;
			// padding: 10px;
			// position: relative;
			// text-align: center;
			// width: 160px;
			// transform: rotateX(0deg);
			// transform-style: preserve-3d;
			// transition:
			// 	transform $transition-time,
			// 	box-shadow $transition-time;
			// .card-contents-container {
			// 	&:before {
			// 		@include mixins.standard-pseudo();
			// 		// animation: shadow $transition-time linear;
			// 		backface-visibility: hidden;
			// 		// background-color: rgba(255, 0, 0, 0.5);
			// 		border-radius: $border-radius;
			// 	}
			// 	top: 0;
			// 	left: 0;
			// 	border-radius: $border-radius;
			// 	position: absolute;
			// 	backface-visibility: hidden;
			// 	transform: rotateX(180deg);
			// 	align-items: center;
			// 	justify-content: center;
			// 	width: 100%;
			// 	height: 100%;
			// 	display: flex;
			// 	.card-image-container {
			// 		max-height: 100px;
			// 		background-size: contain;
			// 		background-repeat: no-repeat;
			// 		background-position: center center;
			// 		width: calc(100% - 20px);
			// 		height: calc(100% - 20px);
			// 		display: inline-block;
			// 	}
			// }
			// .card-back {
			// 	&:after {
			// 		@include mixins.standard-pseudo();
			// 		border-radius: $border-radius;
			// 		// animation: shadow $transition-time linear;
			// 		// background-color: rgba(0, 255, 0, 0.2);
			// 	}
			// 	border-radius: $border-radius;
			// 	position: absolute;
			// 	backface-visibility: hidden;
			// 	// background-color: red; //rgba(255, 0, 0, 0.4);
			// 	top: 0;
			// 	left: 0;
			// 	height: 100%;
			// 	z-index: 1;
			// 	align-items: center;
			// 	justify-content: center;
			// 	width: 100%;
			// 	display: flex;

			// 	$units: 4px;
			// 	// transition: background-color $transition-time;

			// 	box-shadow:
			// 	background-image: repeating-linear-gradient(45deg, $none, $none Calc(1 * $units), $blue Calc(1 * $units), $blue Calc(2 * $units)),
			// 		repeating-linear-gradient(-45deg, $none, $none Calc(1 * $units), $blue Calc(1 * $units), $blue Calc(2 * $units));
			// 	span {
			// 		display: none;
			// 	}
			// }
			// &.flipping {
			// 	.card-contents-container {
			// 		&:before {
			// 			@include mixins.standard-pseudo();
			// 			animation: shadow $transition-time linear;
			// 			border-radius: $border-radius;
			// 		}
			// 	}
			// 	.card-back {
			// 		&:after {
			// 			@include mixins.standard-pseudo();
			// 			animation: shadow $transition-time linear;
			// 			border-radius: $border-radius;
			// 		}
			// 	}
			// }
			&.flipped {
				transform: rotateX(180deg);
				transition:
					transform $transition-time,
					box-shadow $transition-time;
				box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.2);
				// &:before {
				// @include mixins.standard-pseudo();
				// animation: shadow $transition-time linear;
				// background-color: green;
				// }

				// .card-contents-container {
				// &:after {
				// @include mixins.standard-pseudo();
				// animation: shadow $transition-time linear;
				// background-color: red;
				// }
				// z-index: 1;
				// }
			}
		}
	}
	.cards {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(5, 1fr);
		// gap: 0.5rem;
		grid-column-gap: 0.5rem;
		grid-row-gap: 0.5rem;
		max-width: 1000px;
		margin: 0 auto;
		perspective: 2000px;
		// .card {
		// 	opacity: 1;
		// 	// transition: opacity $transition-time;
		// 	&.matched {
		// 		// opacity: 0.1;
		// 		cursor: not-allowed;
		// 		transition: opacity $transition-time;
		// 	}
		// }
	}
	.matches {
		display: grid;
		gap: 0.5rem;
		max-width: 300px;
		transform: scale(0.8);
		transform-origin: top;
		grid-template-columns: repeat(2, 1fr);

		grid-template-rows: repeat(5, 1fr);
		grid-column-gap: 0.5rem;
		grid-row-gap: 0.5rem;
		.card {
			// transform: scale(0.5);
			cursor: not-allowed;
			// opacity: 0.1;
			// transition: opacity $transition-time;
			animation: reveal linear $transition-time;
			transform: rotateX(180deg); //scale(0.6);
			&.flipped {
				// 	// opacity: 1;
				transition: opacity $transition-time;
				// 	// transition-delay: $transition-time;
			}
		}
	}
	@keyframes reveal {
		0% {
			opacity: 0;
			// transform: rotateX(180deg);
		}
		100% {
			opacity: 1;
			// transform: rotateX(0deg);
		}
	}
	@keyframes shadow {
		0% {
			background-color: rgba(255, 0, 0, 0);
		}
		25% {
			background-color: rgba(255, 0, 0, 0.3);
		}
		50% {
			background-color: rgba(255, 0, 0, 0.4);
		}

		75% {
			background-color: rgba(255, 0, 0, 0.3);
		}
		100% {
			background-color: rgba(255, 0, 0, 0);
		}
	}
}
