// MemoryMatchGame.scss

@use "../../styles/_colours.module.scss";
@use "../../styles/_mixins.module.scss";
@use "../../styles/_variables.module.scss";
@use "sass:math";

html.debug {
	.memory-map-container {
		span {
			border: 1px solid rgba(255, 0, 0, 0.2);
		}
	}
}
// $body: #190d23;
$none: rgba(#fff, 0);
// $card: #f5e3e3;
$blue: #302e9b;
// $red: #b32b28;
// $yellow: #bdb725;
$border-radius: 10px;
$transition-time: variables.$memory-card-transition-time;
.memory-match-game {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.memory-map-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.1fr 1fr;
	gap: 0.5rem;
	max-width: 1200px;
	h2 {
		text-align: center;
		margin: 0;
	}
	.cards {
		padding: 1rem;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(auto-fill, minmax(min(7rem, 100%), 1fr)); //repeat(5, 1fr);
		grid-column-gap: 0.5rem;
		grid-row-gap: 0.5rem;
		max-width: 1000px;
		margin: 0 auto;
		perspective: 2000px;
	}
	.matches {
		padding: 1.25rem; // To compensate for the 0.8 scale see below
		display: grid;
		gap: 0.5rem;
		max-width: 300px;
		transform: scale(0.8);
		transform-origin: top;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(auto-fill, minmax(min(7rem, 11%), 6rem));
		grid-column-gap: 0.5rem;
		grid-row-gap: 0.5rem;
		.card {
			cursor: not-allowed;
			transform: rotateX(180deg);
			&.flipped {
				transition: opacity $transition-time;
			}
			&.text {
				transform: rotateX(180deg) rotateZ(10deg);
				animation: revealText linear $transition-time;
			}
			&.image {
				transform: rotateX(180deg) rotateZ(-10deg);
				animation: revealImage linear $transition-time;
			}
			.audio-container {
				display: none;
			}
		}
	}
	@keyframes revealText {
		0% {
			transform: rotateX(0deg) rotateZ(-5deg);
		}
		100% {
			transform: rotateX(180deg) rotateZ(10deg);
		}
	}
	@keyframes revealImage {
		0% {
			transform: rotateX(0deg) rotateZ(5deg);
		}
		100% {
			transform: rotateX(180deg) rotateZ(-10deg);
		}
	}
	@keyframes shadow {
		0% {
			background-color: rgba(255, 0, 0, 0);
		}
		25% {
			background-color: rgba(255, 0, 0, 0.3);
		}
		50% {
			background-color: rgba(255, 0, 0, 0.4);
		}

		75% {
			background-color: rgba(255, 0, 0, 0.3);
		}
		100% {
			background-color: rgba(255, 0, 0, 0);
		}
	}
}
