// Word.scss

@use "../../../styles/_colours.module.scss";
@use "../../../styles/_media-queries.module.scss";
@use "../../../styles/_mixins.module.scss";
@use "../../../styles/_variables.module.scss";

.show-hints {
	.word {
		&.highlight {
			&::after {
				content: "";
				width: 100%;
				height: 100%;
				background: rgb(201, 255, 122);
				background: radial-gradient(circle, rgba(201, 255, 122, 1) 0%, rgba(0, 212, 255, 0) 100%);
				z-index: 14;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
	}
}
@mixin ph {
	// box-shadow: 8px 8px 8px gray;
	border: 0px; //1px solid transparent;
	padding: 0.25rem 0.5rem;
	background: colours.$ivory;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.4rem;
	min-height: 1.4rem;
	display: inline-block;

	@include media-queries.respond-above(s) {
		padding: 0.5rem 1rem;
	}
}
.word {
	z-index: 10;
	transition-property: left, top, box-shadow;
	transition-duration: 1s; //$word-transition-time;
	// cursor: pointer;
	user-select: none;
	border-radius: 6px;

	&.blank {
		position: relative;
		margin: 0.25rem;
		&::after {
			@include mixins.standard-pseudo();
			border-radius: 6px;
			box-shadow:
				-2px -2px 2px inset black,
				2px 2px 2px inset white;
		}
		@include ph;
	}
	&.placeholder,
	&.target {
		position: relative;
	}

	&.dragged {
		position: absolute;
		transition-property: left, top, box-shadow;
		transition-duration: 1s; //$word-transition-time;
		cursor: grab;
	}

	&.dragging {
		position: absolute;
		z-index: 11; // Over the other pieces
		transition:
			left 0s,
			top 0s,
			box-shadow 1s; // $word-transition-time;
		// transition-duration: 0s;
		cursor: grab;
		box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
	}

	&.placed {
		position: absolute;
		cursor: default;
		transition-property: left, top;
		transition-duration: 1s; //$word-transition-time;
	}
}
@include media-queries.respond-above(l) {
	.word {
		&.blank {
			margin: 1rem;
		}
	}
}
