// Word.scss

@use "../../../styles/colours.module" as *;
@use "../../../styles/media-queries" as *;
@use "../../../styles/variables.module" as *;
@use "../../../styles/mixins.module" as *;

.show-hints {
	.word {
		&.highlight {
			span {
				&::after {
					content: "";
					width: 100%;
					height: 100%;
					background: rgb(201, 255, 122);
					background: radial-gradient(circle, rgba(201, 255, 122, 1) 0%, rgba(0, 212, 255, 0) 100%);
					z-index: 14;
					position: absolute;
					top: 0;
					left: 0;
				}
			}
		}
	}
}
@mixin ph {
	// box-shadow: 8px 8px 8px gray;
	border: 0px; //1px solid transparent;
	padding: 0.25rem 0.5rem;
	background: $ivory;
	font-size: 1.2rem;
	font-weight: bold;
	line-height: 1.4rem;
	min-height: 1.4rem;
	display: inline-block;

	@include respond-above(s) {
		padding: 0.4rem 1rem;
	}
}
div.word {
	display: inline-flex;
	justify-content: center;
}
span.word {
	display: inline;
}
.word {
	// cursor: pointer;
	user-select: none;
	// display: inline-block;
	&.blank {
		position: relative;

		span {
			position: relative;
			z-index: 10;
			border-radius: 6px;
			transition-property: left, top, box-shadow;
			transition-duration: 1s; //$word-transition-time;
			margin: 0.25rem;
			&::after {
				@include standard-pseudo();
				position: absolute;
				border-radius: 6px;
				box-shadow:
					-2px -2px 2px inset black,
					2px 2px 2px inset white;
			}
			@include ph;
		}
	}
	// &.placeholder,
	// &.target {
	// 	position: relative;
	// }

	&.dragged {
		position: absolute;
		span {
			transition-property: left, top, box-shadow;
			transition-duration: 1s; //$word-transition-time;
		}
		cursor: grab;
	}

	&.dragging {
		position: absolute;
		z-index: 11; // Over the other pieces
		transition:
			left 0s,
			top 0s,
			box-shadow 1s; // $word-transition-time;
		// transition-duration: 0s;
		cursor: grab;
		span {
			transition: box-shadow 1s; // $word-transition-time;
			box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
		}
	}

	&.placed {
		position: absolute;
		cursor: default;
		span {
			transition-property: left, top;
			transition-duration: 1s; //$word-transition-time;
		}
	}
}
@include respond-above(l) {
	.word {
		&.blank {
			span {
				margin: 0.2rem 1rem;
			}
		}
	}
	.type-group-table {
		.word {
			&.blank {
				span {
					margin: 0.2rem 0.2rem;
				}
			}
		}
	}
}
