/*
Info.scss
*/
@use "../../styles/_colours.module.scss";
@use "../../styles/_mixins.module.scss";
@use "../../styles/_variables.module.scss";

.information {
	background-color: #eff6ff;
	padding: 12px 16px 12px 16px;
	position: relative;
	// border: 1px solid #95a4ffff;
	border-radius: 0.6rem;
	display: flex;
	// flex-direction: column;
	column-gap: 0.75rem;
	color: #1c398e;
	font-size: 0.9rem; //14px;
	&::before {
		content: "";
		position: absolute;
		width: variables.$info-diameter;
		height: variables.$info-diameter;
		background: url("/public/images/icons/info-icon.svg");
		top: 14px;
	}
	.info-icon {
		// position: absolute;
		// top: 8px;
		// left: 8px;
		width: variables.$info-diameter;
		height: variables.$info-diameter;
		// grid-column: 0;
	}
	> div.info-content {
		margin-left: 2rem;
		h3 {
			font-size: 1.2rem;
			margin-top: 1px;
		}
		h4 {
			font-size: 1rem;
			margin-top: 0rem;
		}
	}
}
