/*
Info.scss
*/
@use "../../styles/_colours.module.scss";
@use "../../styles/_mixins.module.scss";
@use "../../styles/_variables.module.scss";

.information {
	background-color: #eff6ff;
	padding: 12px 16px 12px 16px;
	position: relative;
	// border: 1px solid #95a4ffff;
	border-radius: 0.6rem;
	display: flex;
	// flex-direction: column;
	column-gap: 0.75rem;
	color: #1c398e;
	&::before {
		content: "";
		position: absolute;
		width: variables.$info-diameter;
		height: variables.$info-diameter;
		background: url("/public/images/icons/info-icon.svg");
		top: 14px;
	}
	.info-icon {
		// position: absolute;
		// top: 8px;
		// left: 8px;
		width: variables.$info-diameter;
		height: variables.$info-diameter;
		// grid-column: 0;
	}
	> div.info-content {
		margin-left: 2rem;
		h3 {
			font-size: 1.2rem;
			margin-top: 1px;
		}
		h4 {
			font-size: 1rem;
			margin-top: 0rem;
		}
	}
}
// .pop-over,
// #info {
// 	display: none;
// 	max-width: 800px;
// 	&.show {
// 		display: block;
// 	}
// 	min-width: 800px;
// 	position: fixed;
// 	padding: 4vh 4vw;
// 	top: 4vh;
// 	left: 4vw;
// 	border: 4px solid lightgray;
// 	box-shadow: 4px 4px 4px gray;
// 	background: white;
// 	z-index: 998;
// 	h1,
// 	h2,
// 	h3,
// 	h4 {
// 		text-indent: 0;
// 	}
// 	p {
// 		line-height: 1.6rem;
// 		font-weight: normal;
// 		text-indent: 0;
// 		font-size: 1.2rem;
// 	}
// 	> .for-scrolling {
// 		overflow-y: auto;
// 		max-height: 62vh;
// 		// height: 62vh;
// 	}
// 	> .sortable-tree-container {
// 		height: 62vh;
// 	}
// 	ol,
// 	ul {
// 		font-weight: normal;
// 		li {
// 			margin: 1.5rem 0;
// 			font-weight: normal;
// 			font-size: 1rem;
// 		}
// 	}
// 	button {
// 		&.window-close {
// 			background-color: lightGray;
// 			position: absolute;
// 			display: block; // To override window-close display: none elsewhere
// 			top: 4px;
// 			right: 4px;
// 			width: 40px;
// 			height: 40px;
// 			padding: 0;
// 			background-image: URL("/images/cross.svg");
// 			background-repeat: no-repeat;
// 			background-position: center;
// 		}
// 	}
// }
// .pop-over {
// 	max-width: 1200px;
// 	right: 4vh;
// 	bottom: 4vh;
// }
// button {
// 	&.button-info {
// 		@include mixins.button-common;
// 		background-color: lightGray;
// 		border-radius: 10px;
// 		width: 20px;
// 		height: 20px;
// 		padding: 0;
// 		// border: 1px solid $button-border;
// 		font-size: 1rem;
// 		line-height: 20px;
// 		font-family: "Times New Roman", Times, serif;
// 		font-weight: bold;
// 		margin-left: 8px;
// 	}
// }
