/*
Info.scss
*/
@use "../../styles/colours.module" as *;
@use "../../styles/mixins.module" as *;
@use "../../styles/variables.module" as *;

$info-blue: #1c398e;

.information {
	background-color: #eff6ff;
	padding: 12px 16px 12px 16px;
	position: relative;
	border-radius: 0.6rem;
	display: flex;
	column-gap: 0.75rem;
	color: $info-blue;
	font-size: 0.9rem;
	margin-top: 1.4rem;
	&::before {
		content: "";
		position: absolute;
		width: $info-diameter;
		height: $info-diameter;
		mask: url("/public/images/icons/info-icon.svg");
		background-color: $info-blue;
		top: 8px;
	}
	.info-icon {
		// position: absolute;
		// top: 8px;
		// left: 8px;
		width: $info-diameter;
		height: $info-diameter;
		// grid-column: 0;
	}
	> div.info-content {
		margin-left: 2rem;
		h3 {
			font-size: 1.2rem;
			margin-top: 1px;
		}
		h4 {
			font-size: 1rem;
			margin-top: 0rem;
		}
	}
}
