// AudioClip.scss
@use "../../styles/media-queries" as *;
@use "../../styles/mixins.module" as *;

:root {
	--compact-dimension: 27px;
}
.audio-clip {
	display: flex;
	align-items: center;
}
p > audio,
audio.compact,
audio.super-compact {
	width: 200px;
	height: var(--compact-dimension); // Half default height
	vertical-align: middle;
	&.inset {
		&.compact {
			border-radius: calc(var(--compact-dimension) / 2);
			min-width: 160px;
		}
		box-shadow:
			-3px -3px 3px rgba(0, 0, 0, 0.4),
			-3px 3px 3px rgba(0, 0, 0, 0.4),
			3px 3px 3px rgba(2555, 255, 255, 0.4),
			3px -3px 3px rgba(2555, 255, 255, 0.4);
	}
}

@include respond-below(m) {
	audio {
		width: 200px;
		height: var(--compact-dimension); // Half default height
		vertical-align: middle;
	}
}

.audio-link {
	display: inline-block;
	position: relative;
	text-decoration: none !important;
	--progress-width: 100%;
	white-space: nowrap;
	svg {
		display: inline-block;
		height: 16px;
		margin-right: -8px;
	}
	&::after {
		content: "";
		width: var(--progress-width);
		height: 1px;
		position: absolute;
		bottom: 4px;
		left: 0;
		background-color: blue;
		transition: width 0.5s;
	}
	&.playing {
		--progress-width: 0%;
	}
	&.stopped {
	}
}

.audio-container {
	background-color: #f1f3f4;
	z-index: 1;
	display: block;
	position: relative;
	&.inline {
		display: inline-block;
		vertical-align: middle;
	}
}

.circular-audio-progress {
	&::after,
	&::before {
		@include standard-pseudo();
		width: 0;
		height: 0;
	}
	&::before {
		// Arrow icon constructed from a border segment. Smart huh?
		@include standard-pseudo();
		width: 0;
		height: 0;
		border-width: 7.9px 10px;
		border-color: transparent transparent transparent currentColor;
		border-style: solid;
		top: 5.1px;
		left: 10px;
	}
	&.playing {
		// Pause icon (2 vertical bars)
		&::before,
		&::after {
			width: 4px;
			height: 14px;
			top: 6px;
			background-color: currentColor;
		}
		&::after {
			left: 8px;
		}
		&::before {
			left: 15px;
			border-width: 0; // Undo the arrow border thickness
		}
	}
}

.circular-audio-progress-speaker,
.circular-audio-progress {
	width: var(--compact-dimension);
	height: var(--compact-dimension);
	border-radius: calc(var(--compact-dimension) / 2);
	cursor: pointer;
	&:hover {
		background-color: #e5e7e8;
	}
	svg {
		width: 100%;
		height: 100%;
	}
}

$cycle: 1600ms;

.circular-audio-progress-speaker {
	.speaker-arc {
		opacity: 0;
		transition: opacity calc($cycle / 2);
	}
	&.playing {
		.speaker-arc {
			transform-origin: 56% 50%;
			animation-name: radiate;
			animation-duration: $cycle;
			animation-timing-function: linear;
			animation-iteration-count: infinite;

			transform: scale(0.5);
			transition: opacity calc($cycle * 3);
		}
		.speaker-arc1 {
			animation-delay: 0;
		}
		.speaker-arc2 {
			animation-delay: calc($cycle / 2);
		}
		// .speaker-arc3 {
		// 	animation-delay: $cycle * 2/3;
		// }
	}
}

@keyframes radiate {
	0% {
		opacity: 0;
		transform: scale(0.5);
		// color: rgb(14, 231, 14);
	}
	10% {
		opacity: 1;
		transform: scale(0.6);
	}
	// 50% {
	// 	color: yellow;
	// }
	90% {
		opacity: 1;
		transform: scale(2);
	}
	100% {
		opacity: 0;
		transform: scale(2.2);
		// color: red;
	}
}

@include respond-above(m) {
	audio.super-compact {
		width: 210px;
	}
}
