@use "../../styles/media-queries" as *;
@use "../../styles/mixins.module" as *;

:root {
	--compact-dimension: 27px;
}

.audio-clip {
	display: flex;
	align-items: center;
}

p > audio,
audio.compact,
audio.super-compact {
	width: 200px;
	height: var(--compact-dimension);
	vertical-align: middle;

	&.inset {
		&.compact {
			border-radius: calc(var(--compact-dimension) / 2);
			min-width: 160px;
		}
		box-shadow:
			-3px -3px 3px rgba(0, 0, 0, 0.4),
			-3px 3px 3px rgba(0, 0, 0, 0.4),
			3px 3px 3px rgba(255, 255, 255, 0.4),
			3px -3px 3px rgba(255, 255, 255, 0.4);
	}
}

@include respond-below(m) {
	audio {
		width: 200px;
		height: var(--compact-dimension);
		vertical-align: middle;
	}
}

/* -------------------------
   LINK underline progress
   ------------------------- */
.audio-link {
	display: inline-block;
	position: relative;
	white-space: nowrap;
	cursor: pointer;

	text-decoration: none !important;
	--progress-width: 100%;

	svg {
		display: inline-block;
		height: 16px;
		margin-right: -8px;
		vertical-align: middle;
	}

	&::after {
		content: "";
		width: var(--progress-width);
		height: 1px;
		position: absolute;
		bottom: 4px;
		left: 0;

		/* Use currentColor so it works in light/dark modes */
		background-color: currentColor;

		/* Smooth updates */
		transition: width 0.2s linear;

		/* Helps with sub-pixel jitter */
		will-change: width;
	}
	// &.playing {
	// 	--progress-width: 0%;

	// 	/* Use currentColor so it works in light/dark modes */
	// 	background-color: currentColor;

	// 	/* Smooth updates */
	// 	transition: width 0.2s linear;

	// 	/* Helps with sub-pixel jitter */
	// 	will-change: width;
	// }
}

/* -------------------------
   Circular button
   ------------------------- */
.audio-container {
	background-color: transparent;
	width: var(--compact-dimension);
	height: var(--compact-dimension);

	z-index: 1;
	display: block;
	position: relative;

	&.inline {
		display: inline-block;
		vertical-align: middle;
	}
}

$circle-duration: 0.2s;

.circular-audio-progress {
	.play {
		opacity: 1;
		transition: opacity $circle-duration;
	}
	.pause {
		opacity: 0;
		transition: opacity $circle-duration;
	}

	&.playing {
		.play {
			opacity: 0;
		}
		.pause {
			opacity: 1;
		}
	}
}

.circular-audio-progress-speaker,
.circular-audio-progress {
	width: var(--compact-dimension);
	height: var(--compact-dimension);
	border-radius: calc(var(--compact-dimension) / 2);
	cursor: pointer;

	svg {
		width: 100%;
		height: 100%;
	}
}

span.audio-link {
	cursor: pointer;
}

$cycle: 1600ms;

.circular-audio-progress-speaker {
	.speaker-arc {
		opacity: 0;
		transition: opacity calc($cycle / 2);
	}

	&.playing {
		.speaker-arc {
			transform-origin: 56% 50%;
			animation-name: radiate;
			animation-duration: $cycle;
			animation-timing-function: linear;
			animation-iteration-count: infinite;

			transform: scale(0.5);
			transition: opacity calc($cycle * 3);
		}

		.speaker-arc1 {
			animation-delay: 0;
		}
		.speaker-arc2 {
			animation-delay: calc($cycle / 2);
		}
	}
}

@keyframes radiate {
	0% {
		opacity: 0;
		transform: scale(0.5);
	}
	10% {
		opacity: 1;
		transform: scale(0.6);
	}
	90% {
		opacity: 1;
		transform: scale(2);
	}
	100% {
		opacity: 0;
		transform: scale(2.2);
	}
}

@include respond-above(m) {
	audio.super-compact {
		width: 210px;
	}
}
