/*
_mixins.module.scss
*/
@use "./colours.module";
@use "./media-queries" as *;
@use "./variables.module";

@mixin header-footer-background {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00087c+0,0003d3+51,00087c+100 */
	background: linear-gradient(to right, #00087c 0%, #0003d3 51%, #00087c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@function contrast($n) {
	$color-brightness: round(((red($n) * 299) + (green($n) * 587) + (blue($n) * 114)) / 1000);
	$light-color: round(((red(#ffffff) * 299) + (green(#ffffff) * 587) + (blue(#ffffff) * 114)) / 1000);

	@if abs($color-brightness) < ($light-color / 2) {
		@return white;
	} @else {
		@return black;
	}
}

@mixin comparison() {
	textarea,
	.comparison-result {
		margin: 1rem 0;
		// min-width: 80vw;
		width: calc(100% - 6px);
		min-height: 30vh;
		border: 1px solid black;
		white-space: break-spaces; // normal; /* allow wrapping at word boundaries */
		overflow-wrap: anywhere; /* if a word is very long, break if needed */
		word-break: keep-word; /* experimental: fallback is overflow-wrap */
		span {
			display: inline;
		}
	}
	div {
		&.comparison-result {
			background: white;
			line-height: 2rem;
			span {
				vertical-align: bottom;
				padding: 4px;
				min-width: 12px;
				min-height: 24px;
				border: 1px solid transparent;
			}
			.deleted,
			.inserted {
				cursor: pointer;
			}
			.deleted {
				@include incorrect-highlight();
				text-decoration: line-through;
			}
			.inserted {
				@include correct-highlight();
			}
		}
	}
	&.compact {
		flex-direction: row;
		align-items: flex-start;
		// input {
		// 	border-style: solid;
		// 	border-width: 1px 0 1px 1px;
		// 	padding: 2px;
		// }
		.comparison-result {
			margin: auto 0;
			min-width: auto;
			width: auto;
			min-height: auto;

			background: white;
		}

		button {
			&.button-info {
				@include button-common;
				background-color: lightGray;
				border-radius: 10px;
				width: 20px;
				height: 20px;
				padding: 0;
				// border: 1px solid $button-border;
				font-size: 1rem;
				line-height: 20px;
				font-family: "Times New Roman", Times, serif;
				font-weight: bold;
				margin-left: 8px;
			}
		}
	}
	@include respond-above(s) {
		textarea,
		.comparison-result {
			width: 60vw;
			min-width: 60vw;
		}
	}
}

@mixin standard-table() {
	table {
		text-align: left;
		border-collapse: collapse;
		background: #ebebeb;
		background: linear-gradient(45deg, rgb(245, 245, 245) 0%, rgba(255, 255, 255, 1) 50%, rgb(250, 250, 250) 73%, rgba(255, 255, 255, 1) 77%, rgba(237, 237, 237, 1) 100%);

		td,
		th {
			border: 1px solid #000000;
			font-weight: bold;
		}
		tbody {
			border: none;
			tr {
				&.spacer {
					td {
						border-left: none;
						border-right: none;
					}
				}
			}
		}
		td {
			font-size: 0.7rem; //1rem;
			padding: 0.25rem 0.25rem;
		}
	}
	@include respond-above(s) {
		table {
			td {
				font-size: 1rem;
				padding: 0.25rem 1rem;
			}
		}
	}
}

@mixin standard-pseudo() {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@mixin correct-highlight() {
	background-color: colours.$correct-background;
	border: 1px solid colours.$correct-border;
}

@mixin incorrect-highlight() {
	// 	border: 1px solid red;
	// 	background: rgba(255, 0, 0, 0.2);

	border: 1px solid colours.$incorrect-border;
	background: colours.$incorrect-background;
}

@mixin threeSixtyRotate {
	@keyframes threeSixtyRotate {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}
}

@mixin dialog-background {
	margin: 0;
	position: absolute;
	width: 100%;
	height: 100%;
}

@mixin home($home: red) {
	background-color: $home;
	color: contrast($home);
}

@mixin button-common() {
	padding: 10px 20px;
	font-weight: bold;
	border: none;
	border-radius: variables.$button-border-radius;
	height: variables.$button-height;
	outline: none;
}

@mixin disabled() {
	cursor: not-allowed;
	background-color: lightgrey;
	color: grey;
}

@mixin button {
	padding: 10px 20px;
	font-weight: bold;
	border: none;
	border-radius: variables.$button-border-radius;
	height: variables.$button-height;
	outline: none;
	&.disabled {
		@include disabled;
	}
}
