$tab-size: 31;
$tile-size: 181;
$pieces-per-board: 20;
$total-pieces: $pieces-per-board * 2;
$board-width: 5;
$board-height: 4;
$border-width: 14;

/* stylelint-disable */
:export {
	borderWidth: $border-width;
	tabSize: $tab-size;
	tileSize: $tile-size;
	piecesPerBoard: $pieces-per-board;
	totalPieces: $total-pieces;
	boardWidth: $board-width;
	boardHeight: $board-height;
}
/* stylelint-enable */

$button-border-radius: 4px;
$button-height: 36px;
$button-space: 2px;
$card-animation-time: 800ms;
$card-border-radius: 10px;
$card-view-margin: 100px;
$colour-transition-time: 2s;
$common-grid-gap: 16px;
$common-left-margin: 2.2em;
$dataset-tabs-height: 26px;
$footer-height: 26px;
$form-common-height: 38px;
$form-max-width: 800px;
$header-footer-font-size: 0.8rem;
$header-height: 64px;
$nav-tabs-border-radius: 6px;
$nav-tabs-height: 32px;
$page-control-margin: 10px;
$page-margin: 5vh;
$progress-indicator-width: 200px;
$progress-indicator-height: 26px;
$table-horizontal-margin: 40px;
$toolbar-small-dimension: 36px;
$transition-time: 1s;
