// Social.scss

@use "../../styles/_media-queries.scss" as *;
@use "../../styles/_mixins.module.scss";

.social {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	h2 {
		font-family: "OpenSans Regular", sans-serif;
		text-align: left;
	}
	&-icons-section {
		margin-top: 16px;
		margin-bottom: 8px;
	}
	ul {
		display: flex;
		li {
			margin: 4px;
		}
	}
	img {
		width: 32px;
	}
}
