// WordParts.scss

@use "../../styles/_colours.module.scss";
@use "../../styles/_media-queries.module.scss";
@use "../../styles/_mixins.module.scss";
@use "../../styles/_variables.module.scss";

html.debug {
	.word-parts-container {
		span {
			border: 1px solid rgba(255, 0, 0, 0.2);
		}
	}
}

.word-parts-container {
	table {
		p {
			margin: 0;
			letter-spacing: 0.5rem;
			perspective: 600px;
		}
	}
	span {
		$tumble-iterations: 8;
		$tumble-time: 0.5s; // Same as sound clip!
		border: 1px solid transparent;
		cursor: pointer;
		display: inline-block;
		font-size: 1.2rem;
		padding: 0.5rem 0;
		position: relative;
		transform-style: preserve-3d;
		user-select: none;
		&.animate {
			animation-name: vertical-rotate;
			animation-duration: $tumble-time;
			animation-timing-function: linear;
			animation-iteration-count: $tumble-iterations;
			background-color: colours.$correct-background;
			border: 1px solid colours.$correct-border;
			box-sizing: border-box;
			display: inline-block;
			&:before {
				// shade
				@include mixins.standard-pseudo();
				animation-name: shade;
				animation-duration: calc($tumble-time / 2);
				animation-timing-function: linear;
				animation-iteration-count: calc($tumble-iterations * 2);
			}
		}
		&:before {
			@include mixins.standard-pseudo();
		}
		&.error {
			border: 1px solid colours.$incorrect-border;
			background: colours.$incorrect-background;
		}
	}

	p.clue {
		font-size: 1.4rem;
		font-weight: bold;
	}

	.help {
		padding: 1rem;
	}

	.hidden-help {
		opacity: 0;
		transition: opacity 4s;
		&.show {
			opacity: 1;
			transition: opacity 4s;
		}
	}
	table {
		text-align: left;
		border-collapse: collapse;
		background: white;
		td,
		th {
			border: 1px solid #000000;
			padding: 5px 4px;
			font-weight: bold;
		}
		tbody {
			border: none;
			tr {
				&.spacer {
					border-left: none;
					border-right: none;
					td {
						border-left: none;
						border-right: none;
					}
				}
			}
		}
		td {
			font-size: 1rem;
			padding: 0.25rem 1rem;
		}
	}
}
@keyframes vertical-rotate {
	0% {
		transform: rotateX(0deg);
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	}
	50% {
		transform: rotateX(180deg);
		box-shadow: 4px -4px 4px rgba(0, 0, 0, 0.2);
	}
	100% {
		transform: rotateX(360deg);
		box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
	}
}
@keyframes shade {
	0% {
		background-color: rgba(255, 0, 0, 0);
	}
	45% {
		background-color: rgba(0, 0, 0, 0.4);
	}
	50% {
		background-color: rgba(0, 0, 0, 0.4);
	}

	55% {
		background-color: rgba(0, 0, 0, 0.4);
	}
	100% {
		background-color: rgba(255, 0, 0, 0);
	}
}
@include media-queries.respond-above(xxl) {
	.word-parts-container {
		span {
			font-size: 2rem;
		}
	}
}
