// SequenceAudioController.scss
.sequence-audio-controller {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding: 0.5rem;
	border: 1px solid #ccc;
	border-radius: 6px;
	background: #f9f9f9;
	margin-top: 1rem;

	.controls {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		color: black;

		button {
			font-size: 1rem;
			cursor: pointer;
		}

		input[type="range"] {
			flex: 1;
		}
	}
}
