// PhraseTable.scss

@use "../../styles/colours.module" as *;
@use "../../styles/mixins.module" as *;
@use "../../styles/media-queries.scss" as *;
@use "../../styles/variables.module" as *;

.phrases-table-container {
	// @include standard-table();
	table {
		tbody {
			tr {
				td {
					span {
						white-space: initial; // To override tailwind :-(
					}
				}
			}
		}
	}
}
