// Header.scss

@use "../../styles/mixins.module" as *;
@use "../../styles/media-queries.scss" as *;
header.main-header {
	@include header-footer-background;
	color: white;
	display: block;
	left: 0;
	line-height: 3rem;
	margin: 0;
	text-align: center;
	top: 0;
	width: 100%;
	h1 {
		margin: 0;
		// 	font-size: 1.3em;
	}
	// h2 {
	// 	margin: 0;
	// 	&:before {
	// 		display: none;
	// 	}
	// }
	box-shadow: 0 8px 8px lightgray;
}
@include respond-above(m) {
	// header.main-header {
	// 	h1 {
	// 		font-size: 2rem;
	// 	}
	// }
}
