// RadioTest.scss

@use "../../styles/colours.module" as *;
@use "../../styles/media-queries.scss" as *;
@use "../../styles/variables.module" as *;

.radio-test-container {
	label,
	input[type="radio"] {
		cursor: pointer;
	}
}
@include respond-above(m) {
	.radio-quiz-container {
	}
}
