// Blanks.scss

@use "../../styles/_media-queries.module.scss" as *;
@use "../../styles/_variables.module.scss" as *;

.blanks-container {
	touch-action: none;

	> .blanks,
	> .target {
		display: block;
		z-index: 1;
	}

	.blanks {
		line-height: 1.4em;
		overflow: visible;
		min-height: 500px;
		box-sizing: border-box;
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: center;
		flex-direction: column;
	}

	.words-container {
		overflow: visible;
		background: lightgrey;
		padding: 2rem 3rem;
		top: 0;
		z-index: 20;
		transition-property: width;
		transition-duration: 1s;
		line-height: 3.5rem;
		.draggable {
			cursor: pointer;
			z-index: 21;
		}
	}

	.placeholders {
		visibility: hidden; // It's just to get dimensions from a flexible/configurable list of content
		top: 0;
		background: lightgrey;
		padding: 2rem 3rem;
		position: absolute;
		.word {
			opacity: 0.5;
		}
	}

	p.clue {
		font-size: 1.4rem;
		font-weight: bold;
	}

	.help {
		padding: 1rem;
		display: flex;
		justify-content: space-evenly;
		width: 600px;
	}

	.hidden-help {
		opacity: 0;
		transition: opacity 4s;
		&.show {
			opacity: 1;
			transition: opacity 4s;
		}
	}

	.audio-clip {
		display: flex;
		align-items: center;
	}

	&.type-table,
	&.type-questions-answers {
		.dragging,
		.placed {
			margin: 4px;
		}
	}

	.target {
		background: lightgray;
		border: ($border-width * 1px) rgb(238, 238, 238) ridge;
		padding: 1rem 2rem;
		margin-top: 1rem;
		font-size: 1.2rem;
		font-weight: bold;

		.audio-clip {
			opacity: 0;
			transition: opacity 1s;
		}

		ul {
			list-style: none;
			padding-left: 0;
			li {
				inset: 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				.word {
					position: relative;
				}
				label {
					font-weight: normal;
					display: inline-flex;
					margin-left: 3rem;
				}
			}
		}
		.word {
			&.blank {
				opacity: 0;
			}
		}
		table {
			text-align: left;
			border-collapse: collapse;
			td,
			th {
				font-size: 1rem;
				border: 1px solid #000000;
				padding: 0 4px;
				font-weight: bold;
				text-align: center;
				background: white;
				span {
					margin: 4px;
				}
			}
			tbody {
				border: none;
				tr {
					&.spacer {
						background: lightgray;
						border-left: none;
						border-right: none;
						td {
							border-left: none;
							border-right: none;
						}
					}
				}
			}
		}
	}
	&.complete {
		.audio-clip {
			opacity: 1;
			transition: opacity 1s;
		}
	}
}
