// Footer.scss

@use "../../styles/media-queries.scss" as *;
@use "../../styles/mixins.module" as *;

footer {
	background-color: black;
	.footer-container {
		color: white;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 2fr 80px 45px;
		grid-column-gap: 20px;
		grid-row-gap: 60px;
		grid-template-areas:
			"copyright"
			"uclogo"
			"squarelogos";
		padding: 60px 36px; //2.5rem 0;
		margin: auto;
		width: 100%;
		font-family: "OpenSans SemiBold", sans-serif;
		.copyright,
		.lclogo,
		.uclogo {
			margin: 0;
			justify-self: center;
		}
		.square-logos {
			display: flex;
			grid-area: squarelogos;
			justify-content: end;
			a {
				display: block;
				&:hover {
					.colour-me {
						fill: #00bdb6;
					}
				}
			}
		}
		.uclogo {
			width: 216px;
			justify-self: right;
			img {
				max-width: 100%;
			}
		}
		.lclogo,
		.cclogo {
			img,
			svg {
				height: 45px;
			}
		}
		.copyright {
			// background: red;
			color: #fff;
			a {
				text-decoration-line: underline;
				text-decoration-style: solid;
				text-decoration-skip-ink: auto;
				text-decoration-thickness: 1px;
				text-underline-offset: 5px;
				text-underline-position: from-font;
				color: #8ee8d8;
				&:hover {
					color: #00bdb6;
				}
			}
			.copy {
				font-size: 16px;
				// font-style: normal;
				// font-weight: 600;
				// line-height: 26px; /* 130% */
			}
			.developed,
			.license {
				font-style: normal;
				font-family: "OpenSans Regular", sans-serif;

				// font-weight: 400;
				line-height: 26px; /* 162.5% */
				font-size: 16px;
				margin-top: 32px;
				color: #b5bdc8;
				a {
					font-family: "OpenSans SemiBold", sans-serif;

					margin-left: 2px;
				}
			}
			.developed {
				font-size: 12px;
				margin-top: 0;
			}

			grid-area: copyright;
			// align-self: start;
			justify-self: start;
			// max-width: 300px;
			margin: 0;
		}
		img {
			&.logo {
				&.black {
					display: none;
				}
				&.white {
					&.horizontal {
						display: none;
					}
					&.vertical {
						display: block;
					}
				}
			}
		}

		.lclogo {
			// grid-area: lclogo;
			// background: blue;
			max-width: 300px;
			// padding-top: 9px; // To align top of text with top of CC text
			// height: 80px;
			&:hover {
				color: red;
			}
		}
		.cclogo {
			margin-left: 16px;
			// grid-area: cclogo;
			// background: yellow;
			max-width: 300px;
			// height: 80px;
		}
		.uclogo {
			// grid-area: cclogo;
			// background: yellow;
			max-width: 300px;
			// height: 80px;
		}
	}
}

html.dark-mode {
	footer {
		background-color: white;
		.footer-container {
			color: black;
			img {
				&.logo {
					&.black {
						display: block;
						&.horizontal {
							display: none;
						}
						&.vertical {
							display: block;
						}
					}
					&.white {
						display: none;
						&.horizontal {
							display: none;
						}
						&.vertical {
							display: none;
						}
					}
				}
			}
		}
	}
}

// @include respond-above(s) {
// 	footer {
// 		.footer-container {
// 			// max-width: 320px;
// 		}
// 	}
// }
@include respond-above(m) {
	footer {
		.footer-container {
			// max-width: 640px;
			grid-template-columns: 3fr 2fr;
			grid-template-rows: 60px 81px;
			grid-template-areas:
				"copyright squarelogos"
				"copyright uclogo";
			grid-row-gap: 36px;

			padding: 130px 80px; //2.5rem 0;
			// .copyright,
			// .lclogo,
			// .cclogo {
			// 	// justify-self: center;
			// }
			.lclogo,
			.cclogo {
				img,
				svg {
					height: 60px;
				}
			}
			// .uclogo {
			// 	justify-self: bottom;
			// }
			// .copyright {
			// background: red;
			// grid-area: copyright;
			// max-width: 1000px;
			// }
			// .lclogo {
			// 	// grid-area: lclogo;
			// 	// background: blue;
			// 	max-width: 300px;
			// 	// height: 80px;
			// 	justify-self: start;
			// }
			// .uclogo {
			// 	// grid-area: cclogo;
			// 	// background: yellow;
			// 	max-width: 300px;
			// 	// height: 80px;
			// 	justify-self: end;
			// }
		}
	}
}
@include respond-above(xl) {
	footer {
		.footer-container {
			// max-width: 768px;
			grid-template-columns: 2fr 1fr 3fr; //repeat(2, 1fr);
			grid-template-rows: 1fr;
			grid-column-gap: 20px;
			grid-template-areas: "copyright squarelogos uclogo";
			grid-row-gap: 0;
			.lclogo,
			.cclogo,
			.uclogo {
				img,
				svg {
					height: 54px;
				}
			}
			.uclogo {
				width: auto;
				max-width: none;
				// img {
				// 	height: 70px;
				// 	// width: 580px;
				// }
			}

			img {
				&.logo {
					&.black {
						display: none;
					}
					&.white {
						&.horizontal {
							display: block;
						}
						&.vertical {
							display: none;
						}
					}
				}
			}
		}
	}

	html.dark-mode {
		footer {
			background-color: white;
			.footer-container {
				color: black;
				img {
					&.logo {
						&.black {
							display: block;
							&.horizontal {
								display: block;
							}
							&.vertical {
								display: none;
							}
						}
						&.white {
							display: none;
							&.horizontal {
								display: none;
							}
							&.vertical {
								display: none;
							}
						}
					}
				}
			}
		}
	}
}

@include respond-above(xxxl) {
	footer {
		.footer-container {
			// max-width: 1024px;
			.lclogo,
			.cclogo,
			.uclogo {
				width: auto;
				max-width: none;
				img,
				svg {
					height: 80px;
					// width: 580px;
				}
			}
		}
	}
}
// @media (min-width: 1280px) {
// 	footer {
// 		.footer-container {
// 			max-width: 1280px;
// 		}
// 	}
// }
