// Footer.scss

@use "../../styles/_mixins.module.scss";

// Footer {
// 	clear: both;
// 	@include mixins.header-footer-background;
// 	z-index: 5;
// 	width: 100%;
// 	height: 40px;
// 	line-height: 3rem;
// 	display: flex;
// 	color: white;
// 	padding: 8px;
// 	a:link,
// 	a:visited {
// 		color: white;
// 		text-decoration: none;
// 	}
// 	a:hover {
// 		color: white;
// 	}
// 	.copyright {
// 		margin: 0;
// 	}
// 	.logo {
// 		height: 1em;
// 		vertical-align: -2px;
// 	}
// }
