// Header.scss

@use "../../styles/_mixins.module.scss";
@use "../../styles/_media-queries.scss" as *;
@use "../../styles/_variables.module.scss";

#congratulate {
	background-color: white;
	background: white;
	border-radius: 20px;
	// border: variables.$border-width * 1px ridge darkblue;
	box-sizing: border-box;
	color: darkblue;
	display: flex;
	font-size: 40px;
	height: fit-content;
	inset: 0;
	line-height: 60px;
	margin: auto;
	min-height: 22vh;
	min-width: 80vw;
	opacity: 0;
	padding: 1rem 0;
	position: fixed;
	text-align: center;
	transform-origin: center center;
	transform: scale(0.01);
	transition-duration: 1s;
	transition-property: transform, opacity;
	width: fit-content;
	z-index: 1000;
	&.show {
		justify-content: center;
		align-items: center;
		transform: scale(1);
		opacity: 1;
		transition-property: transform, opacity;
	}
	button {
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		position: absolute;
		font-weight: bold;
		color: transparent;
		border: rgb(0, 0, 139) 4px outset; //blue outset 4px;
		text-indent: -9999px;
		border-radius: 8px;
		&::after {
			@include mixins.standard-pseudo();
			mask-image: url("/images/cross.svg");
			mask-position: center center;
			mask-repeat: no-repeat;
			background-color: rgb(0, 0, 139); //blue;
		}
		z-index: 1001;
		cursor: pointer;
		&:active {
			&::after {
				margin-top: 1px;
				margin-left: 1px;
			}
			border-style: inset;
		}
	}
}
@include respond-above(m) {
	#congratulate {
		font-size: 80px;
		line-height: 90px;
		margin: auto 10%;
		padding: 2rem 0;
		button {
			top: 20px;
			right: 20px;
			// width: 30px;
			// height: 30px;
			// position: absolute;
			// font-weight: bold;
			// color: transparent;
			// border: rgb(0, 0, 139) 4px outset; //blue outset 4px;
			// text-indent: -9999px;
			// border-radius: 8px;
			// &::after {
			// 	@include mixins.standard-pseudo();
			// 	mask-image: url("../../../public/images/cross.svg");
			// 	mask-position: center center;
			// 	mask-repeat: no-repeat;
			// 	background-color: rgb(0, 0, 139); //blue;
			// }
			// z-index: 1001;
			// cursor: pointer;
			// &:active {
			// 	&::after {
			// 		margin-top: 1px;
			// 		margin-left: 1px;
			// 	}
			// 	border-style: inset;
			// }
		}
	}
}
@include respond-above(l) {
	#congratulate {
		padding: 4rem 0;
	}
}
