// RadioQuiz.scss

@use "../../styles/colours.module" as *;
@use "../../styles/media-queries.scss" as *;
@use "../../styles/variables.module" as *;

.radio-quiz-container {
	// li {
	// 	max-height: 26px;
	// 	min-width: 800px;
	// }
	span {
		max-height: 26px;
		display: inline-flex;
		// &.phrase {
		// min-width: 350px;
		// }
		&.explanation {
			// display: inline-block;
			max-width: 0px;
			overflow-x: hidden;
			overflow-y: visible;
			transition: max-width ease-in-out 1s;
			white-space: nowrap;
			&.show {
				max-width: 600px;
				transition: max-width ease-in-out 1s;
			}
		}
	}
	label {
		// &:nth-of-type(1) {
		margin-right: 24px;
		// }
		// &:nth-of-type(2) {
		// margin-right: 24px;
		// }
		min-height: 26px;
		display: inline-block;
		cursor: pointer;
		input {
			cursor: pointer;
		}
	}
	table {
		text-align: left;
		border-collapse: collapse;
		// background: #ebebeb;
		// background: linear-gradient(45deg, rgb(245, 245, 245) 0%, rgba(255, 255, 255, 1) 50%, rgb(250, 250, 250) 73%, rgba(255, 255, 255, 1) 77%, rgba(237, 237, 237, 1) 100%);

		td,
		th {
			// border: 1px solid #000000;
			// padding: 5px 4px;
			// font-weight: bold;
			// span.inline-monologue {
			// 	white-space: nowrap;
			// 	.monologue-container {
			// 		display: inline-flex;
			// 	}
			// }
		}
		tbody {
			// border: none;
			// tr {
			// 	&.spacer {
			// 		border-left: 1px solid red;
			// 		border-right: none;
			// 		td {
			// 			border-left: none;
			// 			border-right: none;
			// 		}
			// 	}
			// }
		}
		td {
			font-size: 0.8rem;
			padding: 0.1rem;
			white-space: nowrap;
		}
	}
}
@include respond-above(m) {
	.radio-quiz-container {
		table {
			td {
				font-size: 1rem;
				padding: 0.25rem 1rem;
			}
		}
	}
}
