// RadioQuiz.scss

@use "../../styles/_colours.module.scss";
@use "../../styles/_media-queries.scss" as *;
@use "../../styles/_variables.module.scss";
@-moz-document url-prefix() {
	.radio-quiz-container {
		label {
			input[type="checkbox"] {
				vertical-align: top; // Hack for Firefox :-(
			}
		}
	}
}
.radio-quiz-container {
	// li {
	// 	max-height: 26px;
	// 	min-width: 800px;
	// }
	span {
		max-height: 26px;
		display: inline-flex;
		// &.phrase {
		// 	min-width: 350px;
		// }
		&.explanation {
			// display: inline-block;
			max-width: 0px;
			overflow-x: hidden;
			overflow-y: visible;
			transition: max-width ease-in-out 1s;
			white-space: nowrap;
			&.show {
				max-width: 600px;
				transition: max-width ease-in-out 1s;
			}
		}
	}
	$radio-diameter: 17px;
	$radio-spot-diameter: 8px;
	$offscreen: -99999px;
	label {
		// &:nth-of-type(1) {
		margin-right: 24px;
		// }
		// &:nth-of-type(2) {
		// margin-right: 24px;
		// }
		min-height: 26px;
		display: inline-block;
		cursor: pointer;
		&.disabled {
			cursor: not-allowed;
		}
		input[type="checkbox"] {
			// input[type="radio"] {
			-moz-appearance: initial; // Hack for Firefox :-(
			cursor: pointer;
			width: $radio-diameter - 4px;
			height: $radio-diameter - 4px;
			display: inline-block;
			border-width: 4px;
			position: relative;
			left: $offscreen;
			&::after {
				content: "";
				width: $radio-diameter;
				height: $radio-diameter;
				border-radius: calc($radio-diameter / 2);
				position: absolute;
				top: 0px;
				left: -$offscreen;
				border-width: 1px;
				border-style: solid;
				border-color: #c9c9c9;
				box-sizing: border-box;
			}
			&:hover {
				&::after {
					background: #e7e7e8;
					background: radial-gradient(circle, rgba(231, 231, 232, 1) 0%, rgba(231, 231, 232, 1) 30%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 100%);
				}
			}
			&:disabled {
				cursor: not-allowed;
				&::after {
					content: "";
					cursor: not-allowed;
					width: $radio-diameter;
					height: $radio-diameter;
					border-radius: calc($radio-diameter / 2);
					position: absolute;
					top: 0; //4.7px;
					left: -$offscreen; // + 3.5px;
					border-style: solid;
					// border-color: green; //#18181b;
					// border-width: 5px;
					box-sizing: border-box;
					z-index: 2;
					background-color: #dadada;
				}
			}
			&:checked {
				&::after {
					// Not disabled so incorrect, but user can have another go
					content: "";
					width: $radio-diameter;
					height: $radio-diameter;
					border-radius: calc($radio-diameter / 2);
					position: absolute;
					top: 0; //4.7px;
					left: -$offscreen; // + 3.5px;
					border-style: solid;
					border-color: black;
					border-width: 5px;
					box-sizing: border-box;
					z-index: 2;
				}
				&:disabled {
					&::after {
						content: "";
						width: $radio-diameter;
						height: $radio-diameter;
						border-radius: calc($radio-diameter / 2);
						position: absolute;
						top: 0; //4.7px;
						left: -$offscreen; // + 3.5px;
						border-style: solid;
						border-color: black; //red; //#18181b;
						border-width: 5px;
						box-sizing: border-box;
						z-index: 2;
						background-color: #f8f8f9;
					}
				}
			}
		}
	}
	table {
		text-align: left;
		border-collapse: collapse;
		// background: #ebebeb;
		// background: linear-gradient(45deg, rgb(245, 245, 245) 0%, rgba(255, 255, 255, 1) 50%, rgb(250, 250, 250) 73%, rgba(255, 255, 255, 1) 77%, rgba(237, 237, 237, 1) 100%);

		td,
		th {
			height: 3rem;
			color: black;
			font-weight: normal;
			border: none; //1px solid #000000;
			padding: 5px 4px;
			// font-weight: bold;
			span.inline-monologue {
				white-space: nowrap;
				.monologue-container {
					display: inline-flex;
				}
			}
		}
		tbody {
			border: none;
			tr {
				&.spacer {
					border-left: 1px solid red;
					border-right: none;
					td {
						border-left: none;
						border-right: none;
					}
				}
			}
		}
		td {
			font-size: 0.8rem;
			padding: 0.1rem;
		}
	}
}
@include respond-above(m) {
	.radio-quiz-container {
		table {
			td {
				font-size: 1rem;
				padding: 0.25rem 1rem;
			}
		}
	}
}
