// App.scss

@use "./styles/_colours.module.scss";
@use "./styles/_media-queries.scss" as *;
@use "./styles/_mixins.module.scss";
@use "./styles/_skin.module.scss";
@use "./styles/_variables.module.scss";
@use "sass:color";

html.debug {
	.blanks-container .target .word.blank {
		opacity: 0.2;
	}
}

html.can-speak {
	#content {
		.special-anchor,
		.speak {
			color: blue;
			text-decoration: underline;
			cursor: pointer;
			// following doesn't help eliminate contextual search :-(
			-webkit-user-select: none; /* Chrome/Safari */
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* IE10+ */
			user-select: none; /* Standard */
		}
	}
	#SpeechSynthesisError {
		display: none;
		// opacity: 0;
		// transition: opacity 0;
		animation-name: none;
	}
}
.flash {
	animation-name: flash-animation;
	animation-duration: 1000ms;
	animation-timing-function: ease;
	animation-iteration-count: 6;
}
@keyframes flash-animation {
	0% {
		background-color: rgba(166, 255, 0, 0);
	}
	50% {
		background-color: rgba(166, 255, 0, 1);
	}
	100% {
		background-color: rgba(166, 255, 0, 0);
	}
}
.no-config {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 600ms;
	animation-timing-function: ease;
	animation-delay: 400ms;
	animation-fill-mode: forwards;
}
#SpeechSynthesisError {
	background-color: white;
	background: white;
	border-radius: 20px;
	// border: var(--border-width) * 1px ridge darkblue;
	color: darkblue;
	// display: flex;
	font-size: 40px;
	height: fit-content;
	inset: 0;
	line-height: 60px;
	margin: auto;
	min-height: 22vh;
	min-width: 80vw;
	padding: 1rem 0;
	position: fixed;
	text-align: center;
	width: fit-content;
	z-index: 1000;
	justify-content: center;
	align-items: center;
	// opacity: 1;
	// transition: opacity 0; //1s 2s;
	touch-action: none;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 600ms;
	animation-timing-function: ease;
	animation-delay: 400ms;
	animation-fill-mode: forwards;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		display: none;
	}
	10% {
		display: flex;
	}
	100% {
		opacity: 1;
	}
}
.app {
	box-sizing: border-box;
	line-height: 1.4em;
	margin: 0;
	overflow: hidden;
}

hr {
	border: none;
	height: 1px;
	// background: color.adjust(colours.$article-base-background, $blackness: 25%);
}

.yorkshire-rose {
	display: none;
	width: 400px;
	height: 400px;
	background-image: url("/images/yorkshire-rose-css.png");
	background-repeat: no-repeat;
	background-size: contain;
}

.container {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	z-index: 1;
	margin: 1rem auto;
	// max-width: 1200px;
	// touch-action: none;

	overflow: visible;
	padding: 0.5rem; // 3rem;
	box-sizing: border-box;
	.instructions {
		text-align: center;
	}
}

body {
	font-family: arial;
	font-size: 16px;
	color: black;
	margin: 0;
	// background-color: colours.$body-back; In skin
}

h1,
h2,
h3 {
	clear: both;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
}

h2 {
	line-height: 2em;
	font-size: 1.6em;
}

.ar-AE {
	#content {
		#hero {
			background-image: url(/projects/richard/images/uae.jpg);
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: cover;
		}
	}
}
.fr-FR {
	#content {
		#hero {
			background-image: url(/images/paris.jpg);
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: cover;
		}
	}
}
.de-DE {
	#content {
		#hero {
			background-image: url(/projects/richard/images/berlin.jpg);
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: cover;
		}
	}
}
.es-US {
	#content {
		#hero {
			background-image: url(/projects/richard/images/barcelona.jpg);
			background-repeat: no-repeat;
			background-position: center top;
			background-size: auto;
		}
	}
}
.uk-UA {
	#content {
		#hero {
			background-image: url(/projects/richard/images/kyiv.jpg);
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
		}
	}
}
#content {
	width: 100vw;
	max-width: 1400px;
	text-align: left;
	padding: 1rem 0;
	margin: auto;
	h1,
	h2 {
		display: flex;
		justify-content: center;
	}
	ul {
		margin: 2rem 0;
		padding-left: 1.2rem;
	}
	li {
		// margin: 1rem 0;
		.video {
			margin-left: -40px;
		}
	}
	.video {
		border-width: 5px;
		border-style: ridge;
		border-color: blue;
		border-radius: 4px;
		width: 560px;
		height: 315px;
		max-width: 90vw;
		max-height: 90vh;
	}
	.html-content {
		width: 100%; // calc(100% - 42px);
		border-radius: 12px;
		// overflow: hidden;
		// padding: 0px; // variables.$common-left-margin / 2;
		box-sizing: border-box;
		// margin: 2%;
		padding: 0 1vw;
	}
	> .html-content {
		padding: variables.$common-left-margin;
	}
	.footnote {
		font-size: 0.8rem;
	}
	#hero {
		align-items: center;
		background-image: url(/projects/richard/images/paris.jpg);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 50%;
		border-radius: 12px;
		box-shadow: 2px 2px 8px darkgray;
		display: flex;
		flex-direction: column;
		height: 282px;
		justify-content: center;
		margin-bottom: 0.5rem;
		max-width: 100%;
		overflow-y: hidden;
		padding: 1rem;
		h1 {
			margin-top: 10px;
			color: white;
			font-weight: bold;
			text-shadow:
				0px 0px 4px black,
				0px 0px 4px black,
				0px 0px 4px black,
				0px 0px 4px black;
			font-size: 2rem;
			line-height: 2.2rem;
			z-index: 1;
		}
		h2 {
			margin: 0; // 0 0.5rem;
			font-size: 1rem;
			color: white;
			font-weight: bold;
			z-index: 1;
			text-shadow:
				0px 0px 4px black,
				0px 0px 4px black,
				0px 0px 4px black,
				0px 0px 4px black;
		}
	}
	// .container {
	// padding: 10px;
	// }
	span.audio-link,
	a {
		color: blue;
		cursor: pointer;
		text-decoration: underline;
		&.special-anchor-target {
			color: initial;
			text-decoration: initial;
		}
	}

	ul.main-menu {
		width: 100%;
		margin: 0 0 0.5rem 0;
		display: flex;
		list-style-type: none;
		flex-direction: row;
		justify-content: space-evenly;
		padding: 0;
		flex-wrap: wrap;
		align-items: center;
		$ellipses-diameter: 10px;
		li {
			margin: 0.25rem;
			text-indent: 0;
			&.menu-item {
				// border: 1px solid rgb(0, 0, 0);
				// text-align: center;
				border-radius: 8px;
			}
			color: white;
			text-decoration: none;
			font-weight: bold;
			&.ellipses {
				color: black;
				text-indent: -9999px;
				position: relative;
				&::before,
				&::after {
					content: "";
					position: absolute;
					top: 0;
					left: calc($ellipses-diameter * 1.5);
				}
				&::after {
					left: calc($ellipses-diameter * -1.5);
				}
			}
			&.ellipses,
			&.ellipses::after,
			&.ellipses::before {
				box-shadow:
					inset -2px -2px 3px rgba(0, 0, 0, 0.6),
					inset 2px 2px 3px rgba(255, 255, 255, 0.6);
				width: $ellipses-diameter;
				height: $ellipses-diameter;
				border-radius: calc($ellipses-diameter / 2);
			}
			a {
				// border: 1px solid rgb(0, 0, 0);
				text-align: center;
				border-radius: 8px;
				padding: 0.5rem 1rem;
				// font-size: 0.5rem;
				color: white;
				text-decoration: none;
				font-weight: bold;
				width: 100%;
				height: 100%;
				// background: red;
				box-sizing: border-box;
				box-shadow:
					inset -4px -4px 8px rgba(0, 0, 0, 0.6),
					inset 4px 4px 8px rgba(255, 255, 255, 0.6);
			}
			&.highlight {
				a {
					box-shadow:
						inset 4px 4px 8px rgba(0, 0, 0, 0.6),
						inset -4px -4px 8px rgba(255, 255, 255, 0.6);
				}
			}
		}
	}
}

@include respond-above(s) {
	.container {
		padding: 2rem 3rem;
	}
}
@include respond-above(m) {
	$header-height: 8rem;
	#content {
		padding: 1rem 0;
		width: 100vw;
		#hero {
			h1 {
				font-size: 3rem;
				line-height: 3rem;
			}
			h2 {
				font-size: 1.6rem;
				margin: 0 0 0.5rem;
			}
		}
	}
	.content {
		text-align: justify;
		margin: 0 auto;
		font-size: 1.2rem;
		li {
			.video {
				margin-left: 40px;
			}
		}
		.video {
			margin-left: 40px;
		}
	}

	h3 {
		margin: 1.8em 0 0.4em;
	}

	p {
		line-height: 1.6em;
	}
}
@include respond-above(xl) {
	#content {
		padding: 1rem 2rem;
		width: calc(100vw - 4rem);
	}
}
