// App.scss

@use "./styles/_colours.module.scss";
@use "./styles/_media-queries.scss" as *;
@use "./styles/_mixins.module.scss";
@use "./styles/_skin.module.scss";
@use "./styles/_variables.module.scss";
@use "sass:color";

@font-face {
	font-family: "Feijoa Bold";
	src: url("/fonts/Feijoa-Bold.otf");
}
@font-face {
	font-family: "Feijoa Medium";
	src: url("/fonts/Feijoa-Medium.otf");
}
@font-face {
	font-family: "Feijoa Medium Italic";
	src: url("/fonts/Feijoa-MediumItalic.otf");
}
@font-face {
	font-family: "OpenSans Bold";
	src: url("/fonts/OpenSans-Bold.ttf");
}
@font-face {
	font-family: "OpenSans Regular";
	src: url("/fonts/OpenSans-Regular.ttf");
}
@font-face {
	font-family: "OpenSans SemiBold";
	src: url("/fonts/OpenSans-SemiBold.ttf");
}
.lo-menu {
	display: flex;
}
body {
	font-family: "OpenSans Regular", sans-serif;
	font-size: 16px;
	color: black;
	margin: 0;
	background: colours.$body-back;
	// background: green;
}
h1 {
	font-family: "Feijoa Bold", times-roman;
}
h2,
h3,
h4 {
	font-family: "Feijoa Medium", times-roman;
}
h5,
h6 {
	font-family: "OpenSans SemiBold", sans-serif;
}
h1 {
	// font-weight: bold;
	line-height: 1.2;
}
h2,
h3,
h4 {
	line-height: 1.2;
	// font-weight: 500;
}
h5,
h6 {
	line-height: 1.2;
	// font-weight: 500;
}

h1 {
	font-size: 3rem;
	margin-top: calc(1.2 * 3rem);
}
h2 {
	font-size: 2.5rem;
	margin-top: calc(1.2 * 2.5rem);
}
h3 {
	font-size: 2rem;
	margin-top: calc(1.2 * 2rem);
}
h4 {
	font-size: 1.75rem;
	margin-top: calc(1.2 * 1.75rem);
}
h5 {
	font-size: 1.5rem;
	margin-top: calc(1.2 * 1.5rem);
}
h6 {
	font-size: 1.25rem;
	margin-top: calc(1.2 * 1.25rem);
}
#fontSamples {
	border: 1px solid red;
	margin: 3rem;
	padding: 3rem;
	display: none;
}
figure {
	figcaption {
		font-family: "OpenSans Regular", sans-serif;
		font-size: 0.75rem;
	}
}
// .main-header,
// .top-menu {
// 	position: fixed;
// }

// h1,
// h2,
// h3 {
// 	clear: both;
// }

// h1,
// h2,
// h3,
// h4,
// h5 {
// 	font-weight: normal;
// }

// h2 {
// 	line-height: 2em;
// 	font-size: 1.6em;
// }

html {
	scroll-behavior: smooth;
	&.debug {
		.blanks-container .target .word.blank {
			opacity: 0.2;
		}
		#fontSamples {
			// display: block;
		}
	}

	&.can-speak {
		#content {
			.special-anchor,
			.speak {
				color: blue;
				text-decoration: underline;
				cursor: pointer;
				// following doesn't help eliminate contextual search :-(
				-webkit-user-select: none; /* Chrome/Safari */
				-moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* IE10+ */
				user-select: none; /* Standard */
			}
		}
		#SpeechSynthesisError {
			display: none;
			// opacity: 0;
			// transition: opacity 0;
			animation-name: none;
		}
	}
}

.flash {
	animation-name: flash-animation;
	animation-duration: 1000ms;
	animation-timing-function: ease;
	animation-iteration-count: 6;
}

@keyframes flash-animation {
	0% {
		background-color: rgba(166, 255, 0, 0);
	}
	50% {
		background-color: rgba(166, 255, 0, 1);
	}
	100% {
		background-color: rgba(166, 255, 0, 0);
	}
}
#hero {
	// background: green;
	// background-image: url(../img/swahili.png), url(../img/basic.png), url(../img/banner.png);
	background-size:
		// 510px 199px,
		// 448px 184px,
		cover;
	background-repeat: no-repeat, no-repeat;
	color: white;
	// min-height: 900px;
	// background-position: 50% 40%, 5% 8%, left top;
}
.no-config {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 600ms;
	animation-timing-function: ease;
	animation-delay: 400ms;
	animation-fill-mode: forwards;
}

#SpeechSynthesisError {
	background-color: white;
	background: white;
	border-radius: 20px;
	// border: var(--border-width) * 1px ridge darkblue;
	color: darkblue;
	// display: flex;
	font-size: 40px;
	height: fit-content;
	inset: 0;
	line-height: 60px;
	margin: auto;
	min-height: 22vh;
	min-width: 80vw;
	padding: 1rem 0;
	position: fixed;
	text-align: center;
	width: fit-content;
	z-index: 1000;
	justify-content: center;
	align-items: center;
	// opacity: 1;
	// transition: opacity 0; //1s 2s;
	touch-action: none;
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 600ms;
	animation-timing-function: ease;
	animation-delay: 400ms;
	animation-fill-mode: forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		display: none;
	}
	10% {
		display: flex;
	}
	100% {
		opacity: 1;
	}
}

.app {
	box-sizing: border-box;
	line-height: 1.4em;
	margin: 0;
	overflow: hidden;
}

hr {
	border: none;
	height: 1px;
}

.container {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	// align-items: center;
	flex-direction: column;
	z-index: 1;
	margin: 1rem auto;
	// max-width: 1200px;
	// touch-action: none;

	overflow: visible;
	padding: 0.5rem; // 3rem;
	box-sizing: border-box;
	.instructions {
		text-align: center;
	}
}

.ar-AE {
	#content {
		#hero {
			background-image: url(/images/uae.jpg);
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: cover;
		}
	}
}
.fr-FR {
	#content {
		#hero {
			background-image: url(/images/paris.jpg);
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: cover;
		}
		#radio2 {
			span:nth-of-type(1) {
				min-width: 30px;
			}
			li {
				min-width: 0;
			}
		}
	}
}
.de-DE {
	#content {
		#hero {
			background-image: url(/images/berlin.jpg);
			background-repeat: no-repeat;
			background-position: center bottom;
			background-size: cover;
		}
	}
}
.es-US {
	#content {
		#hero {
			background-image: url(/images/barcelona.jpg);
			background-repeat: no-repeat;
			background-position: center top;
			background-size: auto;
		}
	}
}
.uk-UA {
	#content {
		#hero {
			background-image: url(/images/kyiv.jpg);
			background-repeat: no-repeat;
			background-position: center top;
			background-size: cover;
		}
	}
}
#info-icon {
	// Reference SVG picked up by 'use' elsewhere
	left: -9999px;
	position: absolute;
	width: 0;
	height: 0;
}
#content {
	width: 100vw;
	max-width: 1400px;
	text-align: left;
	padding: 1rem 0;
	margin: auto;
	margin-top: variables.$main-menu-height;
	// h1 {
	// 	text-align: center;
	// }
	// h2 {
	// }
	ul {
		margin: 2rem 0;
		padding-left: 1.2rem;
		list-style: disc; // Apologies, this is necessary because tailwind (which I hate) removes the most basic of defaults so that you have to add bloat to bring it back to expected behaviour.
	}
	li {
		.video {
			margin-left: -40px;
		}
	}
	.instructions,
	.intro {
		ul {
			list-style: disc;
		}
	}
	.video {
		border-width: 5px;
		border-style: ridge;
		border-color: blue;
		border-radius: 4px;
		width: 560px;
		height: 315px;
		max-width: 90vw;
		max-height: 90vh;
	}
	.html-content {
		width: 100%;
		border-radius: 12px;
		box-sizing: border-box;
	}
	> .html-content {
		padding: variables.$common-left-margin;
	}
	.html-content,
	.instructions {
		padding: 0 100px 0 1vw; // 100px to clear the reset and shuffle buttons (for now).
	}

	.footnote {
		font-size: 0.8rem;
	}

	#hero {
		align-items: center;
		background-image: url(/images/paris.jpg);
		background-position: center bottom;
		background-repeat: no-repeat;
		background-size: 50%;
		border-radius: 12px;
		box-shadow: 2px 2px 8px darkgray;
		display: flex;
		flex-direction: column;
		height: 282px;
		justify-content: center;
		margin-bottom: 0.5rem;
		max-width: 100%;
		overflow-y: hidden;
		padding: 1rem;
		// h1 {
		// 	margin-top: 10px;
		// 	color: white;
		// 	font-weight: bold;
		// 	text-shadow:
		// 		0px 0px 4px black,
		// 		0px 0px 4px black,
		// 		0px 0px 4px black,
		// 		0px 0px 4px black;
		// 	font-size: 2rem;
		// 	line-height: 2.2rem;
		// 	z-index: 1;
		// }
		// h2 {
		// 	margin: 0; // 0 0.5rem;
		// 	font-size: 1rem;
		// 	color: white;
		// 	font-weight: bold;
		// 	z-index: 1;
		// 	text-shadow:
		// 		0px 0px 4px black,
		// 		0px 0px 4px black,
		// 		0px 0px 4px black,
		// 		0px 0px 4px black;
		// }
	}

	span.audio-link,
	a {
		color: blue;
		cursor: pointer;
		text-decoration: underline;
		&.special-anchor-target {
			color: initial;
			text-decoration: initial;
			display: block;
			pointer-events: none; // Doesn't work :-(
		}
	}

	button.reset {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	button.shuffle {
		position: absolute;
		top: 60px;
		right: 10px;
	}

	// ul.lo-menu {
	// 	width: 100%;
	// 	margin: 0 0 0.5rem 0;
	// 	display: flex;
	// 	list-style-type: none;
	// 	flex-direction: row;
	// 	justify-content: space-evenly;
	// 	padding: 0;
	// 	flex-wrap: wrap;
	// 	align-items: center;
	// 	$ellipses-diameter: 10px;
	// 	li {
	// 		margin: 0.25rem;
	// 		text-indent: 0;
	// 		&.menu-item {
	// 			// border: 1px solid rgb(0, 0, 0);
	// 			// text-align: center;
	// 			border-radius: 8px;
	// 		}
	// 		// color: white;
	// 		text-decoration: none;
	// 		font-weight: bold;
	// 		&.ellipses {
	// 			color: black;
	// 			text-indent: -9999px;
	// 			position: relative;
	// 			&::before,
	// 			&::after {
	// 				content: "";
	// 				position: absolute;
	// 				top: 0;
	// 				left: calc($ellipses-diameter * 1.5);
	// 			}
	// 			&::after {
	// 				left: calc($ellipses-diameter * -1.5);
	// 			}
	// 		}
	// 		&.ellipses,
	// 		&.ellipses::after,
	// 		&.ellipses::before {
	// 			box-shadow:
	// 				inset -2px -2px 3px rgba(0, 0, 0, 0.6),
	// 				inset 2px 2px 3px rgba(255, 255, 255, 0.6);
	// 			width: $ellipses-diameter;
	// 			height: $ellipses-diameter;
	// 			border-radius: calc($ellipses-diameter / 2);
	// 		}
	// 		a {
	// 			text-align: center;
	// 			border-radius: 8px;
	// 			padding: 0.5rem 1rem;
	// 			color: white;
	// 			text-decoration: none;
	// 			font-weight: bold;
	// 			width: 100%;
	// 			height: 100%;
	// 			box-sizing: border-box;

	// 			background-color: #00f;
	// 			display: inline-block;
	// 			// box-shadow:
	// 			// 	inset -4px -4px 8px rgba(0, 0, 0, 0.6),
	// 			// 	inset 4px 4px 8px rgba(255, 255, 255, 0.6);
	// 		}
	// 		&.highlight {
	// 			a {
	// 				// box-shadow:
	// 				// 	inset 4px 4px 8px rgba(0, 0, 0, 0.6),
	// 				// 	inset -4px -4px 8px rgba(255, 255, 255, 0.6);
	// 			}
	// 		}
	// 	}
	// }
}

.lo-15 {
	.blanks-container.type-questions-answers .word.blank {
		width: 210px;
	}
}

.lo-6 {
	#dropdowns2,
	#dropdowns3 {
		table {
			&.annabelle,
			&.camille {
				td {
					text-align: initial;
				}
			}
			td {
				text-align: right;
			}
		}
	}
}

.lo-demo {
	#picturesAndWords1 {
		.word {
			max-width: 160px;
		}
	}
}

@include respond-above(s) {
	.container {
		padding: 2rem 3rem;
	}
}

@include respond-above(m) {
	$header-height: 8rem;
	#content {
		padding: 1rem 0;
		width: 100vw;
		#hero {
			// h1 {
			// 	font-size: 3rem;
			// 	line-height: 3rem;
			// }
			// h2 {
			// 	font-size: 1.6rem;
			// 	margin: 0 0 0.5rem;
			// }
		}
	}

	.content {
		text-align: justify;
		margin: 0 auto;
		font-size: 1.2rem;
		li {
			.video {
				margin-left: 40px;
			}
		}
		.video {
			margin-left: 40px;
		}
	}

	// h3 {
	// 	margin: 1.8em 0 0.4em;
	// }

	p {
		line-height: 1.6em;
	}
	.spinning-globe {
		width: 256px;
		height: 256px;
		// display: block;
		position: relative;
		img {
			width: 100%;
			height: 100%;
		}
		&::after {
			// Crap attempt to anti-aliase
			content: "";
			// display: block;
			width: 102%;
			height: 102%;
			position: absolute;
			border: 4px solid #e3e2fd;
			// background: red;
			z-index: 12;
			border-radius: 50%;
			top: -1%;
			left: -1%;
			box-sizing: border-box;
			filter: blur(1px);
		}
	}
}

@include respond-above(xl) {
	#content {
		padding: 1rem 2rem;
		width: calc(100vw - 4rem);
	}
}

@media print {
	.noprint {
		display: none;
	}
}
