// App.scss

@use "./styles/_media-queries.module.scss" as *;
@use "./styles/_mixins.module.scss" as *;

html.debug {
	.blanks-container .target .word.blank {
		opacity: 0.2;
	}
}

.app {
	box-sizing: border-box;
	line-height: 1.4em;
	margin: 0;
	overflow: hidden;
}

.container {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	z-index: 1;
	margin: 1rem auto;
	max-width: 1200px;
	touch-action: none;

	overflow: visible;
	padding: 2rem 3rem;
	.instructions {
		text-align: center;
	}
}

body {
	font-family: arial;
	font-size: 16px;
	color: black;
	margin: 0;
}

h1,
h2,
h3 {
	clear: both;
}

h1,
h2,
h3,
h4,
h5 {
	font-weight: normal;
}

h2 {
	line-height: 2em;
	font-size: 1.6em;
}

#content {
	width: 100vw;
	max-width: 1400px;
	text-align: left;
	padding: 1rem 2rem 1rem 1rem;
	margin: auto;
	ul {
		margin: 2rem 0;
	}
	li {
		margin: 1rem 0;
		.video {
			margin-left: -40px;
		}
	}
	.video {
		border-width: 5px;
		border-style: ridge;
		border-color: blue;
		border-radius: 4px;
		width: 560px;
		height: 315px;
		max-width: 90vw;
		max-height: 90vh;
	}
}

@include respond-above(m) {
	$header-height: 8rem;

	.content {
		text-align: justify;
		margin: 0 auto;
		font-size: 1.2rem;
		li {
			.video {
				margin-left: 40px;
			}
		}
		.video {
			margin-left: 40px;
		}
	}

	h3 {
		margin: 1.8em 0 0.4em;
	}

	p {
		line-height: 1.6em;
	}
}
