/*
ResetButton.scss
*/

// .icon-button {
// 	color: white;
// 	svg,
// 	.svg {
// 		fill: white;
// 		stroke: white;
// 	}
// }

// .reset-button {
// 	&-container {
// 		display: flex;
// 		// border: 1px solid red;
// 		justify-content: flex-end;
// 	}
// }
