// DropDowns.scss
@use "../../styles/colours.module" as *;
@use "../../styles/media-queries.scss" as *;
@use "../../styles/mixins.module.scss" as *;
@use "../../styles/variables.module" as *;

html.debug {
	.drop-downs-container {
		span {
			border: 1px solid rgba(255, 0, 0, 0.2);
		}
	}
}

html.debug {
	option.hint {
		background-color: rgba(0, 255, 0, 0.1);
	}
}

.drop-downs-container {
	.phrases-html,
	table td {
		p {
			margin: 0;
			span {
				&.select-wrapper {
					padding: 0;
					position: relative;
					box-sizing: border-box;
					border-color: lightgray;
					border-radius: 8px;
					border-width: 1px;
					&.correct {
						border-color: $correct-border;
						background-color: $correct-background;
						pointer-events: none;
						&::after {
							content: "";
							top: 4px;
							right: 5px;
							height: 30px;
							width: 30px;
							position: absolute;
							mask-repeat: no-repeat;
							mask-position: center center;
							background-color: green;
							mask-size: 100%;
							mask-image: url("/images/icons/tick.svg");
						}
					}
					&.incorrect {
						border-color: $incorrect-border;
						background-color: $incorrect-background;
						border-width: 1px;
						border-radius: 8px;
						select {
							// appearance: none; // hide native arrow (WebKit)
							// -webkit-appearance: none;
							// -moz-appearance: none;
						}
						&::after {
							top: 4px;
							right: 5px;
							height: 30px;
							width: 30px;
							position: absolute;
							mask-repeat: no-repeat;
							mask-position: center center;
							background-color: green;
							mask-size: 100%;
							mask-image: url("/images/icons/tick.svg");
							z-index: 9999;
						}
					}
				}
			}
			select,
			span {
				font-size: 0.8rem;
				line-height: 1.4rem;
				padding: 0;

				min-width: 9rem;
				display: inline-block;
				outline: none;
				// box-sizing: border-box;
				// border-color: lightgray;
				// border-radius: 8px;
				// border-width: 1px;
				position: relative;
				&.correct {
					// border-color: $correct-border;
					// background-color: $correct-background;
					// pointer-events: none;
					// &::after {
					// 	content: "";
					// 	top: 4px;
					// 	right: 5px;
					// 	height: 30px;
					// 	width: 30px;
					// 	position: absolute;
					// 	mask-repeat: no-repeat;
					// 	mask-position: center center;
					// 	background-color: green;
					// 	mask-size: 100%;
					// 	mask-image: url("/images/icons/tick.svg");
					// }
				}
				&.incorrect {
					// border-color: $incorrect-border;
					// background-color: $incorrect-background;
					// &::before {
					// 	top: 4px;
					// 	right: 5px;
					// 	height: 30px;
					// 	width: 30px;
					// 	position: absolute;
					// 	mask-repeat: no-repeat;
					// 	mask-position: center center;
					// 	background-color: green;
					// 	mask-size: 100%;
					// 	mask-image: url("/images/icons/tick.svg");
					// 	z-index: 9999;
					// }
				}
			}
			span {
				padding: 10px 40px 5px 7px;
			}
		}
	}

	p.clue {
		font-size: 1.4rem;
		font-weight: bold;
	}

	.help {
		@include help();

		// padding: 1rem;
	}

	.hidden-help {
		opacity: 0;
		transition: opacity 4s;
		&.show {
			opacity: 1;
			transition: opacity 4s;
		}
	}

	.dropdown-audio {
		margin-bottom: 1rem;
	}

	// table {
	// 	text-align: left;
	// 	border-collapse: collapse;
	// 	background: white;
	// 	td,
	// 	th {
	// 		border: 1px solid #000000;
	// 		padding: 5px 4px;
	// 		// font-weight: bold;
	// 	}
	// 	tbody {
	// 		border: none;
	// 		tr {
	// 			&.spacer {
	// 				border-left: none;
	// 				border-right: none;
	// 				td {
	// 					border-left: none;
	// 					border-right: none;
	// 				}
	// 			}
	// 		}
	// 	}
	// 	td {
	// 		font-size: 0.8rem;
	// 		padding: 0.1rem;
	// 	}
	// }
}

@include respond-above(m) {
	.drop-downs-container {
		.phrases-html,
		table td {
			font-size: 1rem;
			padding: 0.25rem 1rem;
			p {
				select,
				span {
					font-size: 1.2rem;
					padding: 4px;

					min-width: 12rem;
				}
				span {
					padding: 10px 6px 5px 7px;
					vertical-align: -2px;
				}
			}
		}
	}
}
