/*
Accordion.scss
*/
@use "../../styles/colours.module.scss" as *;
@use "../../styles/mixins.module.scss" as *;
@use "../../styles/variables.module.scss" as *;
@use "sass:color";
$header-height: 40px;
$header-font-size: 1.2rem;
$spacer: 20px;
$transition-speed: 0.2s;

$common-left-margin: 20px;

@mixin hideArticleContent {
	> .content {
		transition: all $transition-speed ease-in-out;
		max-height: 0;
	}
}

@mixin hideArticle {
	/* hideArticle */
	transition: all $transition-speed ease-in-out;
	overflow: hidden;
	@include hideArticleContent;
}

@mixin showArticle {
	/* showArticle */
	clear: both;
	height: auto;
	line-height: normal;
	opacity: 1;
	overflow: hidden;
	transition: all $transition-speed ease-in-out;
}

@mixin showArticleContent {
	&.group {
		> .content {
			max-height: 5600px;
		}
	}
	> .content {
		transition: all $transition-speed ease-in-out;
		max-height: 2300px;
		> article {
			@include showArticle;
		}
	}
}

@mixin hideHeader {
	/* hideHeader */
	.accordion {
		.arrow {
			transition: all $transition-speed;
			margin-right: 0.5em;
			cursor: pointer;
			display: none;
			&:focus {
				outline: 0;
				border: none;
			}
		}
	}
}

@mixin showHeader {
	/* showHeader */
	.accordion {
		.arrow {
			display: block;
			&:focus {
				outline: 0;
				border: none;
			}
		}
	}
}

.accordion {
	.arrow {
		transition: all $transition-speed;
		display: inline-block;
		width: 1rem;
		height: 1rem;
		zoom: 1;
	}
	width: 100%;

	.section {
		clear: both;
	}

	.accordion-article {
		// border-bottom: 1px solid oklch(0.922 0 0);
		overflow: hidden;
		height: auto;
		@include hideArticle;
		header {
			@include hideHeader;
			font-size: $header-font-size;
			display: flex;
			cursor: pointer;
			margin-top: 2.4rem;
			padding: 20px 0;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
			&:hover {
				background-color: color-mix(in oklab, var(--muted) 50%, transparent);
			}
			svg.arrow {
				transition: all $transition-speed;
				margin-right: 0.5em;
				cursor: pointer;
				width: 1rem;
				height: 1rem;
				display: block;
			}

			h2 {
				cursor: pointer;
				font-size: $header-font-size;
				margin: 0;
			}
		}
		&.expanded {
			page-break-inside: avoid;
			@include showArticle;
			@include showArticleContent;
			.accordion-article {
				> header {
					@include showHeader;
					font-size: $header-font-size;
				}
			}
			> header {
				@include showHeader;
				svg.arrow {
					transform: rotate(180deg);
				}
			}
		}
	}
	.accordion-article.collapsed .accordion-article.expanded {
		@include hideArticle;
	}
}
