/*
Accordion.scss
*/

.accordion-article {
	> button {
		cursor: pointer;
		// background: red;
		> span > svg.arrow-icon {
			transition: transform 1s;
			transform: rotate(0deg);
			// for debug box-shadow: 0 0 12px red;
		}
	}
	> div {
		max-height: 0;
		transition: max-height 1s;
		overflow: hidden;
		padding: 0;
	}
	&.expanded {
		> button {
			// background: green;
			> span > svg.arrow-icon {
				// for debug box-shadow: 0 0 12px green;
				transform: rotate(180deg);
				transition: transform 1s;
			}
		}
		> div {
			max-height: 4000px;
			transition: max-height 1s;
		}
	}
}

// @use "../../styles/_colours.module.scss";
// @use "../../styles/_mixins.module.scss";
// @use "../../styles/_variables.module.scss";
// @use "sass:color";
// $header-height: 40px;
// $header-font-size: 0.7em;
// $spacer: 20px;

// $common-left-margin: 20px;

// @mixin heightAndLineHeight($height) {
// 	height: $height;
// 	line-height: $height;
// }

// @mixin fontSizeAndLineHeight($height) {
// 	font-size: $height;
// 	line-height: $height;
// }

// @mixin hideArticleContent {
// 	> .content {
// 		transition: all 0.5s ease-in-out;
// 		max-height: 0;
// 	}
// }

// @mixin hideArticle {
// 	/* hideArticle */
// 	opacity: 0;
// 	transition: all 0.5s ease-in-out;
// 	@include heightAndLineHeight(0);
// 	overflow: hidden;
// 	margin: 0 2% 0;
// 	padding: 0 2%;
// 	@include hideArticleContent;
// }

// @mixin showArticle {
// 	/* showArticle */
// 	clear: both;
// 	height: auto;
// 	line-height: normal;
// 	margin: 2% 0; //2%;
// 	opacity: 1;
// 	overflow: hidden;
// 	padding: 1% 2%;
// 	transition: all 0.5s ease-in-out;
// }

// @mixin showArticleContent {
// 	&.group {
// 		> .content {
// 			max-height: 5600px;
// 		}
// 	}
// 	> .content {
// 		transition: all 0.5s ease-in-out;
// 		max-height: 2300px;
// 		> article {
// 			@include showArticle;
// 		}
// 	}
// }

// @mixin hideHeader {
// 	/* hideHeader */
// 	.accordion {
// 		.arrow {
// 			transition: all 0.5s;
// 			margin-right: 0.5em;
// 			cursor: pointer;
// 			display: none;
// 			&:focus {
// 				outline: 0;
// 				border: none;
// 			}
// 		}
// 	}
// }

// @mixin showHeader {
// 	/* showHeader */
// 	.accordion {
// 		.arrow {
// 			display: block;
// 			&:focus {
// 				outline: 0;
// 				border: none;
// 			}
// 		}
// 		h2 {
// 			opacity: 1;
// 			display: inline;
// 			vertical-align: top;
// 			flex-shrink: 1;
// 		}
// 	}
// }

// .accordion {
// 	.arrow {
// 		transition: all 0.5s;
// 		mask-image: url("/images/arrow.svg");
// 		background-repeat: no-repeat;
// 		// background-color: color.adjust(colours.$article-base-background, $lightness: -8%); //contrast(colours.$article-base-background); //color.adjust(colours.$article-base-background, $lightness: 16%);
// 		mask-size: contain;
// 		display: inline-block;
// 		width: 1em;
// 		height: 1em;
// 		zoom: 1;
// 	}
// 	.date-range {
// 		.row {
// 			label {
// 				font-weight: bold;
// 			}
// 		}
// 	}
// 	.align-right {
// 		display: flex;
// 		justify-content: flex-end;
// 		button {
// 			&.disabled {
// 				@include mixins.disabled();
// 			}
// 		}
// 	}
// 	width: 100%;

// 	.accordion-article {
// 		box-shadow: 2px 2px 8px darkgray;
// 		border-radius: 12px;
// 		> .content {
// 			overflow: hidden;
// 			font-size: 1em;
// 			line-height: 1.4em;
// 			clear: both;
// 			> div {
// 				// border: 1px solid color.adjust(colours.$article-base-background, $blackness: 25%);
// 			}
// 			h1 {
// 				font-size: 1.2rem;
// 			}
// 			h2 {
// 				font-size: 1rem;
// 				// text-indent: 1rem;
// 			}
// 			p {
// 				// text-indent: $common-left-margin;
// 				img.view,
// 				img.download {
// 					// width: 20px;
// 					margin: 0 12px -2px 12px;
// 				}
// 			}
// 			table {
// 				// margin-left: 2.2em;
// 				th {
// 					text-align: center;
// 					// font-weight: normal;
// 				}
// 				// td {
// 				// 	img.download {
// 				// 		margin: 0 0 0 6px;
// 				// 		vertical-align: 0;
// 				// 	}
// 				// }
// 				// text-indent: 2.2em;
// 			}
// 			ul {
// 				padding: 0;
// 				li {
// 					font-size: 1em;
// 					line-height: 1.4em;
// 				}
// 			}
// 		}

// 		overflow: hidden;
// 		clear: both;
// 		margin: 1em 1em;
// 		height: auto;
// 		// .site {
// 		// 	border: 1px solid color.adjust(colours.$article-base-background, $blackness: 8%);
// 		// }
// 		&.left,
// 		&.right {
// 			// float: none;
// 			margin: 0;
// 			transition: all 1s;
// 		}
// 		@include hideArticle;
// 		header {
// 			@include hideHeader;
// 			font-size: $header-font-size;
// 			display: flex;
// 			flex-direction: row;
// 			justify-content: flex-start;
// 			align-items: center;
// 			div.arrow {
// 				transition: all 0.5s;
// 				margin-right: 0.5em;
// 				cursor: pointer;
// 				width: $header-height;
// 				height: $header-height;
// 				display: block;
// 				flex-shrink: 0;
// 				border-radius: 50%;
// 			}

// 			a {
// 				// color: color.adjust(colours.$article-base-background, $blackness: 64%);
// 				// border: 1px solid color.adjust(colours.$article-base-background, $blackness: 25%);
// 			}
// 			a:visited {
// 				// color: color.adjust(colours.$article-base-background, $blackness: 64%);
// 				text-decoration: none;
// 			}
// 			a:hover {
// 				// color: color.adjust(colours.$article-base-background, $blackness: 48%);
// 			}
// 			a:active {
// 				color: #e00000;
// 				text-shadow: 0 0 1px #ff0000;
// 			}

// 			a.logo > img,
// 			img.logo {
// 				// border: 1px solid color.adjust(colours.$article-base-background, $blackness: 8%);
// 				max-height: $header-height;
// 				max-width: 200px;
// 				margin: 5px;
// 				&.mobile {
// 					display: inline;
// 				}
// 				&.non-mobile {
// 					display: none;
// 				}
// 			}
// 			h2 {
// 				cursor: pointer;
// 			}
// 		}
// 		&.expanded {
// 			page-break-inside: avoid;
// 			@include showArticle;
// 			@include showArticleContent;
// 			.accordion-article {
// 				> header {
// 					@include showHeader;
// 					font-size: $header-font-size;
// 				}
// 			}
// 			> .content {
// 				margin-top: 0.6em;
// 			}
// 			> header {
// 				@include showHeader;
// 				font-size: $header-font-size;
// 				min-height: $header-height * 1.2;
// 				padding-bottom: 0.2em;
// 				// border-bottom: 1px solid color.adjust(colours.$article-base-background, $blackness: 25%);
// 				div.arrow {
// 					transform: rotate(90deg);
// 				}
// 			}
// 		}

// 		> .content > .accordion-article {
// 			// background-color: color.adjust(colours.$article-base-background, $blackness: 8%);
// 			// border: 1px solid color.adjust(colours.$article-base-background, $blackness: 16%);
// 			// .site {
// 			// 	border: 1px solid color.adjust(colours.$article-base-background, $blackness: 16%);
// 			// }
// 			&.expanded {
// 				> header {
// 					// border-bottom: 1px solid color.adjust(colours.$article-base-background, $blackness: 16%);
// 				}
// 			}
// 			> header {
// 				a.logo > img,
// 				img.logo {
// 					// border: 1px solid color.adjust(colours.$article-base-background, $blackness: 16%);
// 				}
// 			}
// 		}
// 		> .content > .accordion-article > .content > .accordion-article {
// 			// background-color: color.adjust(colours.$article-base-background, $blackness: 16%);
// 			// border: 1px solid color.adjust(colours.$article-base-background, $blackness: 24%);
// 			// .site {
// 			// 	border: 1px solid color.adjust(colours.$article-base-background, $blackness: 24%);
// 			// }
// 			&.expanded {
// 				> header {
// 					// border-bottom: 1px solid color.adjust(colours.$article-base-background, $blackness: 24%);
// 				}
// 			}
// 			> header {
// 				a.logo > img,
// 				img.logo {
// 					// border: 1px solid color.adjust(colours.$article-base-background, $blackness: 24%);
// 				}
// 			}
// 		}
// 		> .content > .accordion-article > .content > .accordion-article > .content > .accordion-article {
// 			// background-color: color.adjust(colours.$article-base-background, $blackness: 24%);
// 			// border: 1px solid color.adjust(colours.$article-base-background, $blackness: 32%);
// 			.site {
// 				// border: 1px solid color.adjust(colours.$article-base-background, $blackness: 32%);
// 			}
// 			&.expanded {
// 				> header {
// 					// border-bottom: 1px solid color.adjust(colours.$article-base-background, $blackness: 32%);
// 				}
// 			}
// 			> header {
// 				a.logo > img,
// 				img.logo {
// 					// border: 1px solid color.adjust(colours.$article-base-background, $blackness: 32%);
// 				}
// 			}
// 		}
// 		> .content > .accordion-article > .content > .accordion-article > .content > .accordion-article > .content > .accordion-article {
// 			// background-color: color.adjust(colours.$article-base-background, $blackness: 32%);
// 			// border: 1px solid color.adjust(colours.$article-base-background, $blackness: 40%);
// 			.site {
// 				// border: 1px solid color.adjust(colours.$article-base-background, $blackness: 40%);
// 			}
// 			&.expanded {
// 				> header {
// 					// border-bottom: 1px solid color.adjust(colours.$article-base-background, $blackness: 40%);
// 				}
// 			}
// 			> header {
// 				a.logo > img,
// 				img.logo {
// 					// border: 1px solid color.adjust(colours.$article-base-background, $blackness: 40%);
// 				}
// 			}
// 		}
// 	}
// 	> .accordion-article {
// 		@include showArticle;
// 		// background-color: colours.$article-base-background;
// 		// border: 1px solid color.adjust(colours.$article-base-background, $blackness: 8%);
// 		margin: 12px 0;
// 		> header {
// 			@include showHeader;
// 		}
// 		&.expanded {
// 			margin: 12px 0;
// 		}
// 		&:first-of-type {
// 			margin-top: 0;
// 		}
// 		&:last-of-type {
// 			margin-bottom: 0;
// 		}
// 	}
// 	.accordion-article.collapsed .accordion-article.expanded {
// 		@include hideArticle;
// 	}
// }
